.artwork-collection-detail {
  display: block;
  .entity-images {
    float: left;
    width: 50%;
  }
  .entity-info {
    width: 80%;
    max-width: none;
  }
  .entity-title h1 {
    padding-top: 35px;
  }
  &:after {
    display: block;
    content: "";
    clear: both;
  }
  .collection-sources {
    @extend strong;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #333333;
  }
  .collection-contributors {
    margin: 20px 0;
  }
}