.artwork-detail {
  .artwork-artist {
    @extend strong;
    margin-top: 5px;
    font-size: 18px;
  }
  .artwork-date { 
    margin-bottom: 30px;
  }
  .artwork-sources {
    @extend strong;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #333333;
  }
  .artwork-collections {
    margin: 25px 0;
    a {
      color: #888888;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .artwork-notice {
    @extend .arrow-block-link;
  }
  @media (min-width: $min-break-m) {
    .artwork-notice {
      width: 300px;
    }
  }
}