* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

ul[role="nav"] {
  list-style: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
  display: inline-block;
  &> li {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
  }
}

.portlet-topper {
  //z-index: 100;
}

.portlet-content .portlet-title-text {
  display: none;
}

