.breadcrumb-wrapper {
  background: $museum-color;
  padding: 15px 20px 13px 20px;
  color: white;
  a {
    text-transform: uppercase;
    font-size: 13px;
    color: white;
  }
  ul {
    line-height: 18px;
  }
  .portlet {
    margin: 0;
  }
  .portlet-content {
    border-radius: 0;
  }
  .breadcrumb {
    padding: 0;
    margin: 0;
    & > li + li:before {
      content: "-";
    }
    li:last-child {
      &:before {
        font-family: $font-family-base;
      }
      @extend strong;
    }
  }
  @extend .container;
  @extend .row;
  @media(min-width: $min-break-m) {
    padding: 11px 20px 8px 20px;
    ul {
      line-height: 13px;
    }
  }
  &.sticky {
    position: fixed;
    top: 0;
    z-index: 20;
    @media(min-width: $min-break-l) {
      &.network {
        top: 49px;
      }
      left: calc(50% - 640px);
    }
  }
}
