.arrow-block-link {
  a {
    display: block;
    width: 100%;
    padding: 8px 35px 7px 13px;
    margin: 25px 0px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    font-size: 14px;
    @extend strong;
    background: url('/o/museum-theme/images/icons/arrow-grey-right.png') no-repeat right 10px center;
    &:hover {
      color: $museum-color;
    }
  }
  @media (min-width: $min-break-m) {
    width: 300px;
  }
}

.image-with-copyright {
  position: relative;
}
.image-with-copyright-on-hover {
  position: relative;
  .image-copyright {
    transition: opacity 0.2s ease-out;
    opacity: 0;
  }
  &:hover .image-copyright {
    opacity: 1;
  }
}
.image-copyright {
  position: absolute;
  bottom: 0;
  padding: 13px 20px 13px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  font-size: 13px;
  text-align: left;
}
