.edition-detail {
  .edition-subtitle {
    @extend strong;
    margin-top: 5px;
    font-size: 18px;
  }
  .edition-diffusion-date,
  .edition-sources,
  .edition-types {
    margin: 10px 0;
  }
  .edition-download,
  .edition-url {
    @extend .arrow-block-link;
  }
  .edition-meta {
    color: #888888;
    border-left: 3px solid $museum-color;
    padding: 10px 15px;
    margin: 30px 0;
  }
  .edition-galleries {
    margin: 25px 0;
    a {
      color: #888888;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
