.entity-detail {
  padding: 20px;

  .entity-images-main {
    text-align: center;
  }

  .entity-images-carousel {
    margin-top: 5px;

    .entity-images-carousel-buttons {
      float: left;
      position: relative;
      margin-right: 5px;
      z-index: 2;

      .entity-images-carousel-previous {
        width: 68px;
        height: 68px;
        margin-bottom: 4px;
        background: #333333 url("/o/museum-theme/images/icons/short-arrow-left-white.png") no-repeat center center;
        cursor: pointer;
      }

      .entity-images-carousel-next {
        width: 68px;
        height: 68px;
        background: #333333 url("/o/museum-theme/images/icons/short-arrow-right-white.png") no-repeat center center;
        cursor: pointer;
      }
    }

    .owl-carousel {
      .entity-images-carousel-item {
        height: 140px;
      }

      img {
        width: auto;
        height: 140px;
      }
    }
  }

  .entity-title h1 {
    margin-top: 35px;
    margin-bottom: 0;
  }

  .entity-children-count {
    color: #888888;
  }

  .entity-description {
    font-size: 14px;
    margin-top: 25px;
  }

  @media (min-width: $min-break-m) {
    display: flex;

    .entity-images,
    .entity-info {
      flex-basis: 50%;
      max-width: 50%;
      margin: 20px;
      padding-left: 20px;
    }

    .entity-info {
      max-width: 400px;
      margin-left: 0;
    }

    .entity-images-carousel {
      width: 620px;
    }
  }

  @media (min-width: $min-break-l) {
    .entity-images-main {
      margin-left: 70px;
    }
  }
}

.entity-detail-children-title {
  padding: 0 20px;
}
.entity-detail-children {
  padding: 20px;
  column-count: 1;
  column-gap: 20px;
  @media(min-width: $min-break-s) {
    column-count: 2;
  }
  @media(min-width: $min-break-m) {
    column-count: 3;
  }
  @media(min-width: $min-break-l) {
    column-count: 4;
  }
  .entity-detail-child {
    break-inside: avoid;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
    background: #e6e6e6;
    .entity-detail-child-image {
      text-align: center;
    }
    .entity-detail-child-info {
      padding: 20px;
      border-top: 10px solid $museum-color;
    }
    .entity-detail-child-title h4 {
      font-size: 20px;
      text-transform: none;
    }
    .entity-detail-child-source {
      @extend strong;
      text-align: right;
      text-transform: uppercase;
      font-size: 13px;
      color: $museum-color;
    }
  }
}

.firefox .entity-detail .entity-detail-child {
  display: inline-block;
}
