.global-search-portlet {
  .search-asset-results {
    column-count: 1;
  }
  .entity-thumbnail {
    display: flex;
  }
  .entity-thumbnail-image {
    width: 155px;
    flex-shrink: 0;
  }
  .entity-thumbnail-info {
    vertical-align: top;
    .entity-thumbnail-source {
      text-align: left;
    }
    &:before, &:after {
      display: none;
    }
  }
}
