.how-to-come {
  color: #333333;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  .how-to-come-title {
    padding: 40px 0 5px 0;
    font-family: $font-family-bold;
    text-transform: uppercase;
    font-size: 14px;
    span {
      display: block;
      font-family: $font-family-base;
      font-style: italic;
      font-family: 'Times', serif;
      font-size: 46px;
      line-height: 53px;
      text-transform: none;
    }
  }
  .how-to-come-learn-more a {
    display: inline-block;
    margin: 15px 0;
    padding: 0 3px;
    font-family: $font-family-bold;
    text-decoration: none;
    font-size: 13px;
    border-bottom: 1px solid #666666;
  }
  .how-to-come-image {
    display: none;
  }
  @media(min-width: $min-break-s) {
    display: flex;
    .how-to-come-info {
      width: 400px;
      padding: 20px;
    }
    .how-to-come-image {
      display: block;
      font-size: 0;
      &:before {
        height: 100%;
        display: inline-block;
        content: "";
        vertical-align: middle;
      }
      img {
        vertical-align: middle;
      }
    }
  }
}
