.key-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .key-number {
    text-align: center;
    padding: 10px 40px;
  }

  .key-number-number {
    font-family: 'Times';
    font-style: italic;
    font-size: 48px;
    line-height: 53px;
    @media(min-width: $min-break-s) {
      font-size: 60px;
      line-height: 66px;
    }
  }

  .key-number-text {
    font-size: 11px;
    text-transform: uppercase;
    @media(min-width: $min-break-s) {
      font-size: 14px;
    }
  }
}
