.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.row {
  padding: 0 20px;
  &.portlet-layout {
    padding: 0;
  }
}

div[class^=col-] {
  padding: 0;
}

#wrapper {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.portlet-nested-portlets {
  margin-bottom: 40px;
  .portlet-layout.row {
    margin: 0;
  }
}

@media (min-width: $min-break-m) {
  .portlet-column-first {
    padding-right: 20px !important;
  }

  .portlet-column-last {
    border-left: 1px solid #d8d8d8;
    padding-left: 20px !important;
  }
  .portlet-nested-portlets .portlet-column-first {
    padding-right: 0 !important;
  }
  .portlet-nested-portlets .portlet-column-last {
    border-left: none;
    padding-left: 0 !important;
  }

  .portlet-nested-portlets {
    padding: 0 20px;
  }
}