.news-carousel {
  .items-carousel-title a {
    display: none;

    @media (min-width: $min-break-s) {
      display: inline-block;
      float: right;
      color: #333333;
      text-transform: none;
      font-size: 15px;
      line-height: 20px;
      border-bottom: 1px solid $museum-color;
      padding: 0 3px;
      margin: 5px 15px 5px 0;
    }
  }
  .news-secondary-links {
    text-align: center;
    margin-top: 25px;
    a {
      @extend strong;
      color: #333333;
      text-transform: none;
      font-size: 15px;
      line-height: 20px;
      border-bottom: 1px solid $museum-color;
      padding: 0 3px;
      margin: 5px 15px 5px 0;
      @media (min-width: $min-break-s) {
        display: none;
      }
    }
  }
  .items-carousel-title img {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    display: none;
    @media (min-width: $min-break-s) {
      display: inline-block;
    }
  }
}
