.useful-links {
  .useful-links-title {
    @extend .portlet-serif-title;
    margin: 20px;
    margin-bottom: 0;
  }
  ul {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
  }
  li {
    padding: 0;
    display: block;
    border-bottom: 1px solid #d8d8d8;
    background: url('/o/museum-theme/images/icons/arrow-grey-right.png') no-repeat right center;
    a {
      display: block;
      padding: 10px 54px 10px 0;
      background-size: 30px 30px;
      transition: transform 0.2s ease-out;
      &:hover {
        font-family: $font-family-bold;
      }
    }
  }
}