$max-break-s: 601px;
$min-break-s: 602px;

$max-break-m: 918px;
$min-break-m: 919px;

$max-break-l: 1279px;
$min-break-l: 1280px;


$font-family-base: "proximanova-regular", sans-serif;
$font-family-bold: "proximanova-bold", sans-serif;

$museum-color: #666666;

$museum-color-default: #666666;
$museum-color-ced: #41C797;
$museum-color-mals: #A30000;
$museum-color-marc: #4C28D4;
$museum-color-mard: #C79D49;
$museum-color-mamc: #3F2575;
$museum-color-mba: #790C3A;
$museum-color-mh: #17B7CB;
$museum-color-mond: #628BA7;
$museum-color-mtu: #D42889;
$museum-color-mz: #00A369;
$museum-color-aub: #F3AC00;
$museum-color-aud: #9528D4;
$museum-color-bib: #ED6B2A;
